:root {
    --dark-blue: hsl(233, 42%, 22%);
    --blue: hsl(233, 42%, 45%);
    --grey: hsl(0, 0%, 95%);
    --nmbs-blue: #006AB3;
    --de-lijn-yellow: #FFDD00;
    --weather-green: #4CAF50;
    --waste-collection-green: #77C511;
}