/* Main styling */

/* Reset defaults */
@import url("reset.css");

/* Colors */
@import url("colors.css");

/* General */

body {
    color: var(--dark-blue);
    background-color: var(--grey);
    font-family: "Figtree", sans-serif;
}

.container {
    width: 80%;
    margin: 1rem auto;
}

.card-container {
    color: var(--blue) !important;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card-container .card {
    color: var(--dark-blue);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
}

.card ul {
    display: flex;
    flex-direction: column;
}

.card p {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.card-title {
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
}

.card-title p {
    display: flex;
    flex-direction: column;
}

.nmbs .card-title {
    border-bottom: 3px solid var(--nmbs-blue);
}

.de-lijn .card-title {
    border-bottom: 3px solid var(--de-lijn-yellow);
}

.weather .card-title {
    border-bottom: 3px solid var(--weather-green);
}

.waste-collection .card-title {
    border-bottom: 3px solid var(--waste-collection-green);
}

.subject {
    font-weight: bold;
}

.list li {
    margin: 0.25rem 0;
}

.weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 1.2rem;
}

.weather-specific span {
    margin: 0.25rem 0.5rem;
}

.waste-collection .list li p span {
    flex: 1 1 0;            
    min-width: 0;           
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transport-identification {
    color: white;
    padding: 0.05rem 0.3rem;
    border-radius: 10%;
}

@media screen and (max-width: 1120px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-container .card {
        flex: 1 1 auto;
    }
}

@media screen and (max-width: 655px) {
    .card-container {
        grid-template-columns: 1fr;
    }

    .card-container .card {
        flex: 1 1 auto;
    }
}